*{
    margin: 0;
    padding: 0;
}
/* body{
    background-image: url('../photo.jpg');
    background-repeat: no-repeat;
    background-size: 1200px,1200px;


}  */
.container{
    background-image: url('./photo.jpg');
    background-color: aqua;
    height: 100vh;
    /* padding-top: 500px;
    padding-bottom: 500px; */
    /* text-align: center; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}
h1{
    font-size: 100px;
}
h3{
    font-size: 50px;
}